.terraform
.terraform.lock.hcl

*.tfvars
!/tfvars/*.tfvars

override.tf
*_override.tf
override.ft
*_override.ft

terraform.tfstate
terraform.tfstate.**

tfplan
tfplan.json
tfplan.txt
plan.cache
plan.json

.env
.envrc
.exports
